.App {
  text-align: center;
  background-image: url(https://wallpapers.com/images/hd/snake-game-1680-x-1050-background-6syqer1fr6oahe0b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.board {
  position: relative;
  border: 10px solid rgb(250, 250, 250);
  margin: 0 auto;
  background-color: black;

}

.snake-segment {
  position: absolute;
  background-color: rgb(255, 0, 0);
  width: 20px;
  height: 20px;
}

.food {
  position: absolute;
  background-color: rgb(255, 154, 1);
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgb(255, 0, 0);
}
